* {
  margin: 0;
  padding: 0;
  text-decoration: none; }

html {
  font-size: 62.5%; }

body {
  position: relative;
  min-height: 100%;
  font-family: Roboto, sans-serif;
  font-size: 1.4rem;
  background-color: black; }

ul {
  list-style: none; }

.hidden {
  visibility: hidden; }

/* TEXT ------------------------------------------------------*/
.title {
  margin-bottom: 10px;
  padding: 0.4rem 0;
  background-color: #e9ecec;
  text-align: center; }

h1 {
  line-height: 3rem;
  font-family: Unica One, Helvetica Neue, sans-serif;
  font-weight: 300;
  font-size: 2.8rem;
  text-transform: uppercase; }

h2 {
  font-weight: 300;
  font-size: 1.3rem; }

h6 {
  font-weight: 400;
  font-size: 1.1rem; }
  h6 a {
    text-decoration: underline; }

/* FORMS & BUTTONS ------------------------------------------------------*/
#info {
  position: absolute;
  top: 0;
  left: 0;
  width: 470px;
  height: 100vh;
  box-sizing: border-box;
  background-color: white; }

p.menu {
  z-index: 2;
  position: relative;
  margin: 0 -0.4rem;
  padding: 0.2rem 0.4rem;
  background: white;
  font-size: 1.2rem; }

form,
p.menu {
  display: inline-block; }

#country-form,
#city-form {
  position: relative;
  min-width: calc(50% - 2rem);
  min-height: 2.1rem; }

#distance-form {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-left: 0;
  margin-top: 1rem; }

#country-form:after {
  content: '';
  display: inline-block;
  position: relative;
  left: -1.5rem;
  top: 5px;
  width: 1.5rem;
  height: 2.1rem;
  background: white; }

select, button {
  cursor: pointer;
  background-color: white;
  border: none;
  font-size: 1.4rem;
  color: #017f9d; }
  select:hover, select:focus, button:hover, button:focus {
    background-color: #017f9d;
    color: white;
    outline: none; }

select {
  border-radius: 4px; }

form:nth-last-of-type(n+2) select {
  width: 17.444rem;
  box-shadow: inset -15px 0 0 0 white, inset -16px 0 0 0px, inset 0 0 0 1px; }

#city-form select {
  position: relative;
  left: calc(100% + 14px - 1.4rem * 12.46); }

#distance-form select {
  min-width: 4.7rem;
  box-shadow: -8px 0 0 0 white, inset 1px 0, inset -19px 0 0 white, inset -20px 0, inset 0 0 0 1px; }

option[value=""] {
  color: #c3c3c3; }

fieldset {
  border: none; }
  fieldsetlabel {
    font-weight: 300; }
  fieldset input {
    width: 4.8rem;
    border: none;
    box-shadow: inset 0 -1px 0 0 black;
    text-align: right;
    /*hide arrows*/
    overflow: hidden;
    margin-right: -0.7rem; }

input {
  font-size: 1.4rem; }

input:focus {
  outline: none;
  box-shadow: inset 0 -1px 0 0 #017f9d; }

button {
  position: relative;
  border: none;
  border-radius: 1px; }
  button:active {
    top: 1px; }

#info button {
  margin-left: -1.7rem;
  padding: 0 0.4rem 0.2rem;
  background: white;
  color: #017f9d;
  box-shadow: 0 -6px 0 -4px white, 0 6px 0 -4px white, 0 0 0 2px; }
  #info button:hover, #info button:focus {
    background: #f5e323; }

#worldView nav {
  z-index: 99;
  position: absolute;
  top: 10px;
  right: 15px; }

#worldView button {
  display: block;
  width: 1.8rem;
  margin-bottom: 8px;
  background: transparent;
  color: #ddd;
  box-shadow: 0 -6px 0 -4px black, 0 6px 0 -4px black, 0 0 0 2px; }
  #worldView button:hover, #worldView button:focus {
    color: #01a8d0; }

#worldView button[disabled="true"] {
  color: #666; }

/* GRAPHS ---------------------------------------------------------*/
.sizes {
  width: 352.5px;
  height: 176.25px;
  margin: 10px auto 0; }

.histogram rect {
  fill: #00cfc5; }
.histogram line {
  stroke-width: 0.5;
  stroke: black; }
.histogram text {
  fill: black;
  font-size: 0.6rem; }
.histogram .domain {
  fill: none;
  stroke-width: 0.5;
  stroke: black; }

/* GLOBE SVG ------------------------------------------------------*/
#worldView {
  position: absolute;
  top: 0;
  left: 470px;
  width: calc(100vw - 470px);
  height: 100vh;
  overflow: hidden; }
  #worldView svg {
    position: relative;
    background-color: black; }

text {
  fill: white;
  font-size: .4px;
  text-anchor: middle; }

.water {
  fill: #3e3e3e; }

.land {
  fill: #1a1a1a;
  /*stroke-width: .05;*/
  /*stroke: black;*/ }

.urban {
  fill: gold; }

/*.regions { fill: black; }*/
.city {
  stroke-width: .1;
  stroke: white;
  fill: none; }

.country {
  stroke-width: .1;
  stroke: #999;
  fill: none;
  /*fill: #2b2b2b;*/ }

.meteor {
  fill: rgba(0, 255, 245, 0.3); }

.meteor.interest {
  fill: rgba(255, 245, 0, 0.3); }
